@model BlockCarAuxiliary


<style>
    .modal {
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-tall .modal-dialog {
        height: 90%;
    }

    .modal-tall .modal-content {
        height: 100%;
    }

    /* fix SO stick navigation ;) */

</style>

<div class="modal" id="BlockCarPartial" style="width:50% ">

    <div class="moda-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="test">Block a car</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.OwnCars.Count == 0)
                {
                    <p>You dont currently have any cars registered.</p>
                }
                else
                    @using (Html.BeginForm("BlockCar", "Car", FormMethod.Get))
                    {
                        <div>
                            <div>
                                @if (Model.OwnCars.Count > 1)
                                {
                                    <label for="SelectedOwnCar">Select own car</label>
                                    <select id="SelectOwnPlate" name="ownCar">
                                        @foreach (var item in Model.OwnCars)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <input type="hidden" id="SelectOtherCar" name="otherCar" value="@Model.OwnCars.First()" />
                                }
                            </div>
                            <div>
                                @if (Model.OtherCar == null)
                                {
                                    <textarea id="SelectOtherCar" name="otherCar">@Model.OtherCar</textarea>
                                }
                                else
                                {
                                    <input type="hidden" id="SelectOtherCar" name="otherCar" value="@Model.OtherCar" />
                                }
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    }

            </div>

        </div>
    </div>
</div>
    </div>
