
@model ValueTuple<Car, User>

    <style>
        .modal {
            position: absolute;
            float: left;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="modal" id="ViewContact" style="width:50%; align-content:center ">

        <div class="moda-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="test">Contact details</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>X</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div>
@if (!Model.Equals(default))
{
                        <h4>Car</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item1.Maker)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item1.Maker)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item1.Model)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item1.Model)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item1.Colour)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item1.Colour)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item1.BockedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item1.BockedBy)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item1.Blocks)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item1.Blocks)
                            </dd>

                        </dl>
                        <h4>Owner</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item2.FirstName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item2.FirstName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item2.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item2.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Item2.PhoneNumber)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Item2.PhoneNumber)
                            </dd>
                        </dl>
}
else
            {
                <p>The slected car is not registered.</p>
                <p>You can help extend our reach by sharing. </p>
                <button class="btn btn-primary" onclick="copyToClipboard('https://localhost:44333/')">Copy site adress</button>
            }
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>